:root {
    --collection-1-xanhous: rgba(255, 199, 89, 1);
    --collection-1-feldgrau: rgba(59, 82, 73, 1);
    --collection-1-mint: rgba(82, 183, 136, 1);
    --collection-1-raisin-black: rgba(52, 37, 47, 1);
    --collection-1-antiflash-white: rgba(232, 233, 237, 1);
  }
  